* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'work sans', sans-serif;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
